<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= yield(:title) %> | Twitter Clone</title>
</head>
<body>
    <h1>About Us</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eius alias est repudiandae ipsam magnam fuga unde eligendi velit nemo inventore excepturi ipsum explicabo beatae nostrum, suscipit rem magni dolor.
    </p>
</body>
</html>